.all {
  background-image: url('../assets/homee.avif');
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 80px;
  padding-bottom: 50px;
}
.mt-5 {
  margin-top: -1rem !important;
}


.container {
  background-color: #ffffff;
  padding: 30px;
  text-align: justify;
}

.btn-primary {
  background-color: #007bff;
}

.btn-secondary {
  background-color: #6c757d;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #0056b3;
}

.btn-secondary:hover,
.btn-secondary:focus {
  background-color: #565e64;
}

.img-fluid {
  max-width: 100%;
}

.carousel-container {
  padding: 10px;
  width: 100%;
  margin-top: 10px; /* Adjust as needed */
}

.carousel-item img {
  width: 100%;
  height: 400px; /* Adjust the height as needed */
  object-fit: cover;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: rgba(0, 0, 0, 0.5);
  width: 5%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1);
}
